table, th, td ,tr{
  border: 1px solid black;
  border-collapse: collapse;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
div {
  text-align: center;
  font-size: 20px;
}
button {
  background-color: #66ccff;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
}
footer {
  background-color: lightgray;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
header {
  background-color: lightgray;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
ul {
  list-style-type: none;
  padding: 0;
  font-size: 40px;
}
article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px;
}
section::after {
  content: "";
  display: table;
  clear: both;
}
h5 {
  font-size: 40px;
  background-color: black;
  padding: 30px;
}